body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, h3 {
    color: #28a745;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    max-width: 100%;
    min-width: 352px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    min-width: 312px;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #28a745;
    color: #fff;
}

td {
    background-color: #fff;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

table button.table-button {
    min-width: 75px;
}

button, .btn {
    width: 100%;
    padding: 9px 18px;
    margin: 8px 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    outline: none;
}

button:hover, .btn:hover {
    background-color: #218838;
}

.btn-edit {
    background-color: #28a745;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}

.btn-add {
    background-color: #28a745;
    color: #fff;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-add:hover {
    background-color: #218838;
}

p, #productCount {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.form-group label {
    color: #333;
    margin-right: 10px;
}

.form-group input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #28a745;
    outline: none;
}

@media (max-width: 600px) {
    .form-group input[type="number"] {
        width: calc(100% - 10px);
    }
}

.counter {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

span.result {
    font-weight: bold;
    color: #28a745;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #28a745;
    color: #fff;
}